html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #E0E0E2;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #2B4162;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0;
}

h5 {
    margin: 0;
}

span a {
    text-decoration: none;
    color: inherit;
}

span a:hover {
    color: #FA9F42;
}

.header {
    width: 100%;
    height: 12%;
    margin: 0;
    background-color: #721817;
}

.nav-buttons {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 0.8em;
    width: fit-content;
}

.vl {
    border-left: 0.05em solid #E0E0E2;
    margin-right: 0.25em;
    height: 100%;
    display: inline;
}

.content-body {
    width: 100%;
    height: 76%;
    margin: 0;
    overflow-y: auto;
}

.footer {
    width: 100%;
    height: 12%;
    padding: 0;
    margin: 0;
    background-color: #0B6E4F;
}

.in-container {
    display: inline-block;
    margin-left: auto;
    height: 2em;
    width: 2em;
    content: url("./assets/in.png");
}

.github-container {
    margin-right: auto;
    display: inline-block;
    height: 2em;
    width: 2em;
    content: url("./assets/github.png");
}

.social-media-container {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.h2-resume {
    margin: 0;
}

.from-to {
    margin-left: 1em;
    font-size: 0.5em;
    color: #FA9F42;
}